body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.no-overflow {
    margin: 0;
    overflow: hidden;
}

/* Photo by Josh Calabrese on Unsplash */
.landing {
    position: relative;
    background: url('img/landing.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: none;
}

.landing-inner h1 {
    font-size: 4em;
    font-weight: 300;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0;
}

.button-big {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #C43A5A;
    height: 60px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
}

.navigation {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100vw;
    background-color: #ffffff;
    color: #ffffff;
    text-transform: uppercase;
}

.navigation a {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    padding: 0 .5em;
}

.nav-account {
    position: fixed;
    right: 0;
}

.nav-account .sign-up {
    border: 2px solid #000000;
}

/* Phone only */
@media (max-width: 599px) {
    .navigation {
        height: 60px;
    }

    .navigation a {
        font-size: 16px;
    }

    .nav-brand i {
        font-size: 22px;
    }

    .nav-account .sign-up {
        margin: 0 10px 0 15px;
        padding: 5px 15px;
    }

    .landing-inner {
        top: 10%;
        padding: 40px;
        height: 360px;
        width: 260px;
    }

    .landing-inner h1 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
}

/* Tablet portrait only */
@media (min-width: 600px) and (max-width: 899px) {

}

/* Tablet portrait and up */
@media (min-width: 600px) {
    .nav-brand {
        margin: 0 1em;
        padding: 0 !important;
    }

    .nav-brand i {
        font-size: 46px;
    }

    .nav-account .sign-up {
        margin: 0 1em;
        padding: 10px 50px;
    }

    .landing-inner {
        left: 5%;
        top: 10%;
        padding: 80px;
        height: 340px;
        width: 340px;
    }

    .landing-inner h1 {
        font-size: 2.25em;
        margin-bottom: 40px;
    }
}

/* Tablet landscape only */
@media (min-width: 900px) and (max-width: 1199px) {

}

/* Tablet landscape and up */
@media (min-width: 900px) {
    .landing-inner {
        left: 5%;
        bottom: 120px;
        padding: 80px;
        height: 340px;
        width: 340px;
    }

    .landing-inner h1 {
        font-size: 2.25em;
        margin-bottom: 40px;
    }
}

/* Desktop only */
@media (min-width: 1200px) and (max-width: 1799px) {

}
 /* Desktop and up */
@media (min-width: 1200px) {
    .landing-inner {
        left: 5%;
        bottom: 120px;
        padding: 180px;
        height: 500px;
        width: 500px;
    }

    .landing-inner h1 {
        font-size: 4em;
        margin-bottom: 40px;
    }
}

/* Big desktop and up */
@media (min-width: 1800px) {

}